global
    maxconn {{or (key "service/haproxy/maxconn") 1024}}
    debug

defaults
    mode http
    timeout connect {{or (key "service/haproxy/timeouts/connect") "5000ms"}}
    timeout client {{or (key "service/haproxy/timeouts/client") "50000ms"}}
    timeout server {{or (key "service/haproxy/timeouts/server") "50000ms"}}

listen http-in
    # Generated automatically by consul-template
    bind *:80 {{range services}}{{range service .Name }}
    server {{.Name}}.service.consul 127.0.0.1:{{.Port}} {{end}}{{end}}

